<!-- CARRUSEL BRANDS -->
<h2 class="title">Marcas</h2><br><br>
<div class="container_brands">
<div class="glider-contain">
  <div class="carousel_brands"></div>
  <button aria-label="Previous" class="glider-prev">«</button>
  <button aria-label="Next" class="glider-next">»</button>
  <div role="tablist" class="dots"></div>
</div>
</div>

<!-- CATEGORIES -->
<section>
  <h2 class="title">Categorias</h2>
  <div class="container" id="containerCategories"></div>
</section>

<br><br><br><br><br><br><br><br>
<!-- TYPE MOTORS -->
<section>
  <h2 class="title">Tipo de motor</h2>
  <div class="container" id="containerTypecar"></div>
</section>

<br><br><br><br><br><br><br><br>

<!-- CARRUSEL MAS VISITADOS -->
<h2 class="mb-4 title">Más visitados</h2>
<div class="container-fluid pb-5">
<div class="container pb-5">
    <div class="owl-carousel related-carousel position-relative carousel-visits" style="padding: 0 30px;"></div>
</div>
</div>

<!-- REVISTAS -->
<h2 class="title">Revistas</h2>
<div class="container-fluid py-5">
  <div class="container pt-5 pb-3">
      <div class="row" id="revistas_cars"></div>
  </div>
  
</div>

<div id="featured"></div>
<div id="btnfeatured"></div>
