<div class="container-fluid mt-5">
    <h2 class="mb-5 text-center">Carrito</h2>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="table-responsive">
                <table id="myTable" class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th></th>
                            <th class="text-right"><span id="amount" class="amount">Amount</span> </th>
                        </tr>
                    </thead>
                    <tbody id="cart-body"></tbody>
                    <tfoot id="cart-foot"></tfoot>
                </table>
            </div>
        </div>
    </div>
    <button class="checkout-cta">Checkout</button>
</div>
