<div class="container-login">
  <h2 class="login-title">Login</h2>
  <form class="login-form">
    <div>
      <label for="username_log">Usuario</label>
      <input id="username_log" type="text" placeholder="Eren Buruk" name="username_log" required/>
    </div>
    <div>
      <label for="password_log">Contraseña</label>
      <input id="password_log" type="password" placeholder="password" name="password_log" required/>
    </div>
    <button class="btn-signin btn--form" type="submit" value="Log in">Log in</button>
    <button class="btn-register btn--form" type="submit" value="Register">You don't have an account?</button>
  </form>
</div>

<div class="container-register" style="display: none">
  <h2 class="register-title">Register</h2>
  <form class="register-form">
    <div>
      <label for="username_reg">Usuario</label>
      <input id="username_reg" type="text" placeholder="Eren Buruk" name="username_reg" required/>
    </div>
    <div>
      <label for="password_reg1">Contraseña</label>
      <input id="password_reg1" type="password" placeholder="password" name="password_reg1" required/>
    </div>
    <div>
      <label for="password_reg2">Repetir contraseña</label>
      <input id="password_reg2" type="password" placeholder="password" name="password_reg2" required/>
    </div>
    <div>
      <label for="email_reg">Email </label>
      <input id="email_reg" type="email" placeholder="me@example.com" name="email_reg" required/>
    </div>
    <button class="btn-signup btn--form" type="submit" value="Register">Sign up</button>
    <button class="btn-login btn--form" type="submit" value="Log in">Already member?</button>
  </form>
</div>